$font-family: Helvetica, Arial;

$fonts: (
    "default": 16px,
    "number": 32px,
    "infos": 8px
);

$colors: (
    "cardFooter": rgba(#F1F1F1, 0.5),
    "app": #F1F1F1,
    "divider": #EBEBEB,
    "shadow": rgba(#333333, 0.1),
    "primary": #737C84,
    "secondary": #B4B4B4, 
    "cold": #69A3FF,
    "neutral": #FF9632,
    "hot": #ED1946
);