<section class="card">
    <h2 class="card__title">Urubici, BR</h2>
    <div class="card__content">
        <h3 class="card__temperature card__temperature--hot">19°</h3>
        <div class="card__climate">
            <p class="card__info">
                HUMIDIY
                <strong class="card__info-strong">78<sub>%</sub></strong>
            </p>
            <p class="card__info">
                PRESSURE
                <strong class="card__info-strong">892<sub>hPa</sub></strong></p>
            <small class="card__updated">Updated at 02:48:27 PM</small>
        </div>
    </div>
    <!-- <div class="card__error" role="alert">
    <p class="card__error-description">Something went wrong</p>
    <button class="card__error-button">Try again</button>
</div>
<div class="card__loading" role="alert">
    <p class="sr-only">conteúdo carregando</p>
    <img src="/assets/imgs/loader.svg" alt="loading dos cards">
</div> -->
</section>
<!-- <section class="card card--error">
    <h2 class="card__title">Urubici, BR</h2>
    <div class="card__content">
        <p class="card__warning">Something went wrong</p>
        <button class="button button--secondary">Try again</button>
    </div>
</section>
<section class="card card--loading">
    <h2 class="card__title">Urubici, BR</h2>
    <div class="card__content">
        <span class="sr-only">carregando conteúdo</span>
        <img class="card__svg-loading" src="/assets/imgs/loader.svg" alt="loading dos cards">
    </div>
</section> -->
