<section class="card">
    <h2 class="card__title">{{city.name}}</h2>
    <div class="card__content">
        <h3 class="card__temperature" ngClass="{{getTemperatureStyle()}}">{{city.temperature}}°</h3>
        <div class="card__climate">
            <p class="card__info">
                HUMIDIY
                <strong class="card__info-strong">{{city.humidity}}<sub>%</sub></strong>
            </p>
            <p class="card__info">
                PRESSURE
                <strong class="card__info-strong">{{city.pressure}}<sub>hPa</sub></strong>
            </p>
            <small class="card__updated">Updated at {{lastUpdate | date:'mediumTime' }}</small>
        </div>
    </div>
</section>
<!-- <section class="card card--error">
    <h2 class="card__title">Urubici, BR</h2>
    <div class="card__content">
        <p class="card__warning">Something went wrong</p>
        <button class="button button--secondary">Try again</button>
    </div>
</section>
<section class="card card--loading">
    <h2 class="card__title">Urubici, BR</h2>
    <div class="card__content">
        <span class="sr-only">carregando conteúdo</span>
        <img class="card__svg-loading" src="/assets/imgs/loader.svg" alt="loading dos cards">
    </div>
</section> -->