<header class="header">
  <div class="header__container">
    <a class="header__link">
      <img src="../assets/logo.svg" alt="logo do desafio weather now" class="header__logo">
    </a>
  </div>
</header>

<main class="main">
  <div class="main__container"></div>
</main>

<footer class="footer">
  <div class="footer__container">
    <p class="footer__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quasi veniam.
      Harum,
      repudiandae sequi. Aperiam laboriosam, rerum error impedit cum enim suscipit eligendi dolorum adipisci eum optio
      voluptate maiores quaerat!</p>
  </div>
</footer>