@import "variables";
@import 'functions';

$heightH: 50px;

.header {
    background: color("white");
    position: sticky;
    top: 0;
    padding: 10px 0;
    text-align: center;
    z-index: 9;

    &__h1 {
        margin: 0;
        line-height: 0;
    }

    &__link {
        display: inline-block;
    }

    &__logo {
        width: 200px;
        height: 100%;
    }
}

.main {
    min-height: calc(100vh - #{$heightH});
    background: color("app");
    display: flex;
    align-items: center;
}