<header class="header">
  <div class="grid">
    <h1 class="header__h1">
      <a class="header__link" href="/">
        <img src="../assets/imgs/logo.svg" alt="Desafio weather now" class="header__logo">
      </a>
    </h1>
  </div>
</header>

<main class="main">
  <div class="grid grid--padding">
    <div class="grid__row">
      <div class="grid__column">
        <app-card name="Nuuk, GL" minutesInterval="10"></app-card>
      </div>
      <div class="grid__column">
        <app-card name="Urubici, BR" details="true" minutesInterval="10"></app-card>
      </div>
      <div class="grid__column">
        <app-card name="Nairobi, KE" minutesInterval="10"></app-card>
      </div>
    </div>
  </div>
</main>