@import './assets/scss/variables';
@import './assets/scss/functions';
@import './assets/scss/mixin-placeholder';
@import './assets/scss/helpers';

* {
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-size: $f-default;
    color: color("primary");
}